* {
  padding: 0px;
  margin: 0px;
  font-family: "Oswald", sans-serif;
}
.firstPage {
  width: 100%;
  height: 96vh;
  background-color: orange;
}
.headLogo {
  width: 75vh;
  height: 75vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
header {
  z-index: 1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  height: 4vh;
}
li {
  float: left;
}
li a {
  position: relative;
  color: rgb(35, 201, 223);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
li a:hover {
  background-color: orange;
}
footer {
  position: relative;
  width: 100%;
}
#socialmedia {
  display: flex;
  justify-content: center;
}
#aboutUs {
  width: 100%;
  height: 96vh;
  background-color: red;
  display: none;
}
#products {
  width: 100%;
  height: 96vh;
  background-color: rgb(95, 95, 255);
  display: none;
}
#loginForm {
  position: absolute;
  top: 30%;
  left: 39%;
  transform: translate(-50% -50%) scale(1.25);
  padding: 10px;
  display: none;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(211, 142, 15);
  opacity: 97%;
  border-radius: 10px;
}
#logout {
  display: none;
}
button {
  background-color: rgb(112, 73, 0);
  border: none;
  outline: none;
  margin: 10px;
  border-radius: 50px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}
#esc {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 30px;
  cursor: pointer;
}
input {
  font-size: 25px;
}
#error-msg {
  color: brown;
}
#headline {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  text-transform: uppercase;
}
#registerForm {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
  margin: 10px;
  height: 40px;
  font-size: 25px;
  cursor: pointer;
}
#registerBtn {
  display: none;
}
#congratz {
  color: brown;
  font-size: 25px;
}
